body {
    font-family: Arial, sans-serif;
    padding: 20px;
    overflow-x: hidden;
}

#building {
    display: flex;
    align-items: stretch;
    gap: 20px;
    border: #333;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#shaft {
    position: sticky;
    bottom: 0;
    padding: 0px;
    background: #f0ebeb;
    border: 1px #ccc solid;
    box-sizing: border-box;
    align-self: streach;
}

#floors-ui {
    height: 100%;
    max-height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-shrink: 0;
    overflow-y: auto;
}
#floors-ui.btn {
    display: flex;
    flex-direction: row;
}

.floor {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
    flex-shrink: 0;
}
.floor-btn {
    padding: 6px 10px;
    margin: 0 4px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #666;
    background: #eee;
}

.floor-btn.active {
    background: #ffeb3b;
    box-shadow: 0 0 12px rgba(255, 235, 59, 0.9);
    transform: scale(1.1);
}
.floor-btn {
    padding: 6px 10px;
    margin: 0 4px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #666;
    background: #eee;
    display: flex;
}

.floor-btn.active {
    background: #ffeb3b;
    box-shadow: 0 0 12px rgba(255, 235, 59, 0.9);
    transform: scale(1.1);
}


.lift {
    width: 40px;
    height: 60px;
    background: #555;
    position: absolute;
    bottom: 0;
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    border: 2px solid #333;
}

.door {
    width: 50%;
    height: 100%;
    background: #ccc;
    transition: transform 2.5s linear;
}

.door.left {
    border-right: 1px solid #666;
    
}
.door.right {
    border-left: 1px solid #666;
}
.status {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    display: none;
}

.status.error {
    display: block;
    background: #ffdddd;
    color: #a00;
    border: 1px solid #a00;
}

.status.ok {
    display: block;
    background: #ddffdd;
    color: #060;
    border: 1px solid #060;
}

@media (max-width: 600px) {
    #building {
        flex-direction: row;
    }

    #shaft {
        margin-bottom: 10px;
    }
}
